.main-view .Navi .navi-outer, .main-view .Navi .navi-inner {
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -50%); }

.main-view .Navi .navi-outer {
  width: 50px;
  height: 50px;
  background-color: #2675de;
  margin: 0 auto;
  border-radius: 50%; }

.main-view .Navi .navi-inner {
  width: 40px;
  height: 40px;
  background-color: #efefef;
  margin: auto;
  border-radius: 50%; }

.main-view .dialogue {
  transition: 1.7s;
  transition-timing-function: ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 23%;
  left: 35%; }

.main-view .idle .navi-outer {
  animation: emitting-power 4s infinite; }

.main-view .idle .navi-inner {
  animation: glowing-body 1.5s infinite; }

.main-view .loading .navi-outer {
  animation: emitting-power .3s infinite; }

.main-view .loading .navi-inner {
  animation: glowing-body .2s infinite; }

@keyframes glowing-body {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes emitting-power {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  10% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0; } }

@keyframes change-color {
  0% {
    background-color: #efefef; }
  90% {
    background-color: #2675de; }
  100% {
    background-color: #efefef; } }
