@import '../../utilities/sizes'
@import '../../utilities/palette.sass'

$navi-size: 40px

%navi-center
  position: absolute
  left: 50%
  top: 23%
  transform: translate(-50%, -50%)

.main-view
  div
    .navi-outer
      @extend %navi-center
      width: $navi-size*1.25
      height: $navi-size*1.25
      background-color: $navi-primary
      margin: 0 auto
      border-radius: 50%
    .navi-inner
      @extend %navi-center
      width: $navi-size
      height: $navi-size
      background-color: $white
      margin: auto
      border-radius: 50%
  .idle
    .navi-outer
      animation: emitting-power 4s infinite
    .navi-inner
      animation: glowing-body 1.5s infinite
  .loading
    .navi-outer
      animation: emitting-power 1s infinite
    .navi-inner
      animation: glowing-body .5s infinite

@keyframes change-color
  0%
    background-color: $white
  90%
    background-color: $navi-primary
  100%
    background-color: $white
@keyframes glowing-body
  0%
    transform: translate(-50%, -50%) scale(1)
  50%
    transform: translate(-50%, -50%) scale(1.1)
  100%
    transform: translate(-50%, -50%) scale(1)

@keyframes emitting-power
  0%
    transform: translate(-50%, -50%) scale(0)
    opacity: 0
  10%
    transform: translate(-50%, -50%) scale(0.2)
    opacity: 1
  100%
    transform: translate(-50%, -50%) scale(2)
    opacity: 0
