.main-view .Navi .navi-outer, .main-view .Navi .navi-inner {
  position: absolute;
  top: 25px;
  left: calc(50vw - 200px); }

@media screen and (max-width: 700px) {
  .main-view .Navi .navi-outer, .main-view .Navi .navi-inner {
    left: calc(50vw - 120px); } }

.main-view .Navi {
  position: relative;
  background-color: red; }

.main-view .Navi .navi-outer {
  transition: 1s;
  width: 50px;
  height: 50px;
  background-color: #2675de;
  margin: 0 auto;
  border-radius: 50%; }

.main-view .Navi .navi-inner {
  transition: 1s;
  width: 40px;
  height: 40px;
  background-color: #efefef;
  margin: auto;
  border-radius: 50%; }

.main-view .dialogue .navi-outer {
  animation: emitting-power 4s infinite; }

.main-view .dialogue .navi-inner {
  animation: glowing-body 1.5s infinite; }

.main-view .idle .navi-outer {
  animation: emitting-power 4s infinite; }

.main-view .idle .navi-inner {
  animation: glowing-body 1.5s infinite; }

.main-view .loading .navi-outer {
  animation: emitting-power .3s infinite; }

.main-view .loading .navi-inner {
  animation: glowing-body .2s infinite; }

.main-view .recording .navi-outer {
  transition: .3s;
  background-color: #efefef;
  animation: recording-outer 1.3s infinite;
  animation-direction: alternate; }

.main-view .recording .navi-inner {
  transition: .3s;
  background-color: #e01f4f;
  animation: recording-inner 1.2s infinite; }

@keyframes glowing-body {
  0% {
    transform: translate(-50%, -50%) scale(1); }
  50% {
    transform: translate(-50%, -50%) scale(1.1); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

@keyframes emitting-power {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  10% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0; } }

@keyframes recording-outer {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
  10% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0; } }

@keyframes recording-inner {
  0% {
    transform: translate(-50%, -50%) scale(0.5); }
  50% {
    transform: translate(-50%, -50%) scale(0.8); }
  100% {
    transform: translate(-50%, -50%) scale(0.5); } }

@keyframes change-color {
  0% {
    background-color: #efefef; }
  90% {
    background-color: #2675de; }
  100% {
    background-color: #efefef; } }

@keyframes go-to-dialogue {
  0% {
    left: 50%;
    top: 23%; }
  15% {
    left: 40%;
    top: 24%; }
  100% {
    left: 50%;
    top: 50%; } }

@keyframes hide {
  from {
    left: 37%;
    top: 25%; }
  to {
    left: 20%;
    top: 25%; } }
