@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
body {
  font-family: 'Aileron', cursive; }

.SpeechBalloon .balloon-wrapper {
  margin: 40px auto;
  text-align: right;
  width: 500px;
  transition: .3s; }

@media screen and (max-width: 700px) {
  .SpeechBalloon .balloon-wrapper {
    width: 300px; } }

.SpeechBalloon .balloon-wrapper div {
  transition: .5s;
  padding: 20px;
  color: #efefef;
  font-size: 1.5em;
  text-align: center;
  margin-left: 100px;
  max-width: 100%;
  overflow: auto;
  transition: .3s;
  background-color: #e01f4f;
  border-radius: 4px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.34);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

@media screen and (max-width: 700px) {
  .SpeechBalloon .balloon-wrapper div {
    max-width: 50%;
    background-color: transparent;
    color: #e01f4f; } }

.SpeechBalloon .appear {
  animation: pop-up .7s; }

.SpeechBalloon .hidden {
  opacity: 0;
  transform: scale(0); }

.SpeechBalloon .swap-a {
  animation: swap-a .7s; }

.SpeechBalloon .swap-b {
  animation: swap-b .7s; }

@keyframes pop-up {
  0% {
    transform: scale(0);
    opacity: 0; }
  30% {
    opacity: 1; }
  68% {
    transform: scale(1.2);
    opacity: 1; }
  90% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes swap-a {
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes swap-b {
  50% {
    opacity: 0.5;
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    opacity: 1; } }
