@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
body {
  font-family: 'Aileron', cursive; }

.main-view .QueryField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.main-view .QueryField input {
  border: none;
  border-bottom: 4px solid #295b98;
  background-color: transparent;
  outline: none;
  transition: .3s;
  width: 470px;
  padding-left: 30px;
  font-size: 1.5em;
  color: #efefef; }

@media screen and (max-width: 700px) {
  .main-view .QueryField input {
    width: 290px;
    padding-left: 10px; } }

.main-view .QueryField button {
  color: #efefef;
  font-size: 1.5em;
  text-transform: lowercase;
  border: none;
  display: block;
  background-color: transparent;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 10px auto; }

.main-view .QueryField button:hover {
  cursor: pointer; }
