.main-view .QueryField {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .main-view .QueryField input {
    border: 1px solid rgba(30, 30, 30, 0.3);
    border-radius: 20px;
    width: 200px;
    font-size: 1em;
    padding-left: 10px; }
