@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
body {
  font-family: 'Aileron', cursive; }

.main-view .QueryField {
  transition: .3s;
  text-align: center; }

.main-view .QueryField input {
  border: none;
  border-bottom: 4px solid #295b98;
  background-color: transparent;
  outline: none;
  transition: .3s;
  width: 420px;
  padding-left: 30px;
  padding-right: 50px;
  overflow: hidden;
  font-size: 1.5em;
  color: #efefef; }

@media screen and (max-width: 700px) {
  .main-view .QueryField input {
    width: 290px;
    padding-left: 10px; } }

.main-view .QueryField .center {
  margin-top: 200px; }

.main-view .QueryField svg {
  cursor: pointer;
  margin-left: -40px;
  transition: .3s; }

.main-view .QueryField svg #circle {
  fill: #e01f4f; }

.main-view .QueryField svg #mouse {
  transition: .3s;
  fill: #efefef; }

.main-view .QueryField svg:hover {
  transform: scale(1.05); }

.main-view .QueryField svg:hover #mouse {
  fill: #e01f4f; }

.main-view .QueryField svg:active {
  transform: scale(0.9); }

.main-view .QueryField .recording #circle {
  fill: #efefef; }

.main-view .QueryField .recording #mouse {
  fill: #efefef; }

.main-view .QueryField button {
  color: #efefef;
  font-size: 1.5em;
  text-transform: lowercase;
  border: none;
  display: block;
  background-color: transparent;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 10px auto; }

.main-view .QueryField button:hover {
  cursor: pointer; }
