.main-view .menu .ViewButton {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 20px;
  background-color: #e01f4f;
  color: #efefef;
  border: none;
  border-radius: 16px;
  font-size: .75em;
  transition: .3s; }
  .main-view .menu .ViewButton:focus {
    outline: none; }
  .main-view .menu .ViewButton:hover {
    cursor: pointer; }

.main-view .menu .trigger-menu {
  width: 20px; }
  .main-view .menu .trigger-menu:active {
    transform: scale(0.9); }

.main-view .menu .on:after {
  content: "";
  border: solid #efefef;
  border-radius: 4px;
  outline: none;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg); }

.main-view .menu .off:after {
  content: "";
  border: solid #efefef;
  border-radius: 4px;
  outline: none;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateX(-2px) rotate(-45deg); }

.main-view .menu .register, .main-view .menu .main {
  transform: translateY(30px); }
  .main-view .menu .register:active, .main-view .menu .main:active {
    transform: translateY(30px) scale(0.9); }

.main-view .menu .login {
  transform: translateY(60px); }
  .main-view .menu .login:active {
    transform: translateY(60px) scale(0.9); }
