@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
body {
  font-family: 'Fredoka One', cursive; }

.main-view .PlaceInfo {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
