@import '../../utilities/placeholders.sass'
@import '../../utilities/palette.sass'

.main-view
  .PlaceInfo
    width: 100%
    position: absolute
    top: 70%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
