@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
body {
  font-family: 'Aileron', cursive; }

.main-view .RegisterForm {
  animation: fade .7s; }

.main-view .RegisterForm form {
  margin: 100px auto 0 auto;
  color: #efefef;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  transition: .3s;
  width: 500px;
  background-color: #232322;
  padding: 30px 0;
  border-radius: 4px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.34);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

@media screen and (max-width: 700px) {
  .main-view .RegisterForm form {
    width: 300px; } }

.main-view .RegisterForm form input {
  display: block;
  margin: 15px auto;
  width: 80%;
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bcbcbc;
  color: #efefef; }

.main-view .RegisterForm form input:focus {
  outline: none; }

.main-view .RegisterForm button {
  display: block;
  border: none;
  animation: appear 1.5s;
  margin: 20px auto 0 auto;
  color: #efefef;
  transform: translateX(120px);
  font-size: 1.5em;
  text-align: center;
  transition: .3s;
  width: 140px;
  background-color: #efe447;
  color: #010101;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.34);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.main-view .RegisterForm button:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(120px, -2px); }

.main-view .RegisterForm button:focus {
  outline: none; }

@media screen and (max-width: 700px) {
  .main-view .RegisterForm button {
    width: 300px; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
